<div class="modal myModal" id="registerModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog" role="document">
	  <div class="modal-content">
		 <div class="modal-header">
			<h5 class="modal-title" id="exampleModalLabel">Register As Subscriber</h5>
			<button type="button" id="modal-close-btn" class="close" data-dismiss="modal" aria-label="Close" onclick="closeModal(0)">
			  <span aria-hidden="true">&times;</span>
			</button>
		 </div>
		 <div class="modal-body">
			  <div class="form-group">
				 <label for="subscriber-name-field">Name</label>
				 <input type="text" class="form-control" id="subscriber-name-field" aria-describedby="name field" placeholder="Enter name here" required>
				 <small class="form-text text-muted">Error goes here.</small>
			  </div>
			  <div class="form-group">
				 <label for="subscriber-email-field">Email</label>
				 <input type="email" class="form-control" id="subscriber-email-field" placeholder="Enter Email Here" required>
				 <small class="form-text text-muted">Error goes here.</small>
			  </div>
			  <div class="form-group">
				 <label for="subscriber-phoneNo-field">Phone Number</label>
				 <input type="text" class="form-control" id="subscriber-phoneNo-field" placeholder="Enter PhoneNo here" required>
				 <small class="form-text text-muted">Error goes here.</small>
			  </div>
			  <div class="form-group">
				  <label for="subscriber-father-field">Father's Name</label>
				  <input type="text" class="form-control" id="subscriber-father-field" placeholder="Enter Father's Name Here" required>
				  <small class="form-text text-muted">Error goes here.</small>
			  </div>
			  <div class="form-group">
				  <label for="subscriber-aadhar-field">Aadhar No.</label>
				  <input type="text" class="form-control" id="subscriber-aadhar-field" placeholder="Enter Aadhar Number Here" required>
				  <small class="form-text text-muted">Error goes here.</small>
			  </div>
			  <div class="form-group">
				  <label for="subscriber-address-field">Address</label>
				  <textarea class="form-control" id="subscriber-address-field" placeholder="Enter Address Here" required></textarea>
				  <small class="form-text text-muted">Error goes here.</small>
			  </div>
		</div>
			  <button id="register-submit-btn" class="btn btn-primary">Register Now</button>
		 </div>
	  </div>
	</div>


	<div class="modal myModal" id="contactUsModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog" role="document">
		  <div class="modal-content">
			 <div class="modal-header">
				<h5 class="modal-title" id="exampleModalLabel">Contact Us</h5>
				<button type="button" id="modal-close-btn" class="close" data-dismiss="modal" aria-label="Close" onclick="closeModal(1)">
				  <span aria-hidden="true">&times;</span>
				</button>
			 </div>
			 <div class="modal-body">
				  <div class="form-group">
					 <label for="contact-name-field">Name</label>
					 <input type="text" class="form-control" id="contact-name-field" aria-describedby="name field" placeholder="Enter name here" required>
					 <small class="form-text text-muted">Error goes here.</small>
				  </div>
				  <div class="form-group">
					 <label for="contact-email-field">Email</label>
					 <input type="email" class="form-control" id="contact-email-field" placeholder="Enter Email Here" required>
					 <small class="form-text text-muted">Error goes here.</small>
				  </div>
				  <div class="form-group">
					 <label for="contact-phoneNo-field">Phone Number</label>
					 <input type="text" class="form-control" id="contact-phoneNo-field" placeholder="Enter PhoneNo here" required>
					 <small class="form-text text-muted">Error goes here.</small>
				  </div>
				  <div class="form-group">
					  <label for="contact-father-field">Father's Name</label>
					  <input type="text" class="form-control" id="contact-father-field" placeholder="Enter Father's Name Here" required>
					  <small class="form-text text-muted">Error goes here.</small>
				  </div>
				  <div class="form-group">
					  <label for="contact-aadhar-field">Aadhar No.</label>
					  <input type="text" class="form-control" id="contact-aadhar-field" placeholder="Enter Aadhar Number Here" required>
					  <small class="form-text text-muted">Error goes here.</small>
				  </div>
				  <div class="form-group">
					  <label for="contact-query-field">Query</label>
					  <textarea class="form-control" id="contact-query-field" placeholder="Enter Query Here" required></textarea>
					  <small class="form-text text-muted">Error goes here.</small>
				  </div>
			</div>
				  <button id="contact-submit-btn" class="btn btn-primary">Send Your Query</button>
			 </div>
		  </div>
		</div>