<%-include ('partials/html_header.ejs')%>
  <%-include ('partials/header.ejs')%>
  
  <!-- Modal -->
  <%-include ("partials/register_form.ejs")%>



<div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-indicators">
    <button style="background: none;" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button style="background-color:transparent;" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="https://hackrpoint.com/sh%204.jpg" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <!-- <h5>First slide label</h5>
        <p>Some representative placeholder content for the first slide.</p> -->
      </div>
    </div>



    <div class="carousel-item">
      <img src="https://raw.githubusercontent.com/irup-07/host/main/WhatsApp%20Image%202021-03-28%20at%205.53.42%20PM.jpeg" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block">
      <!-- <h5>Second slide label</h5>
        <p>Some representative placeholder content for the second slide.</p>  -->
      </div>
    </div>

    <div class="carousel-item">
      <img src="https://raw.githubusercontent.com/irup-07/host/main/2222.jpeg" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block">
      <!-- <h5>Second slide label</h5>
        <p>Some representative placeholder content for the second slide.</p>  -->
      </div>
    </div> 



    <div class="carousel-item">
      <img src="https://raw.githubusercontent.com/irup-07/host/main/WhatsApp%20Image%202021-03-11%20at%2010.26.15%20AM%20(1).jpeg" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block">
      <!-- <h5>Second slide label</h5>
        <p>Some representative placeholder content for the second slide.</p>  -->
      </div>
    </div>



    








    <div class="carousel-item">
      <img src="https://raw.githubusercontent.com/irup-07/parmeshwar/main/WhatsApp%20Image%202021-03-11%20at%2010.26.16%20AM.jpeg" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <!-- <h5>Third slide label</h5>
        <p>Some representative placeholder content for the third slide.</p> -->
      </div>
    </div>


    <div class="carousel-item">
      <img src="https://raw.githubusercontent.com/irup-07/parmeshwar/main/WhatsApp%20Image%202021-03-11%20at%2010.26.15%20AM.jpeg" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <!-- <h5>Third slide label</h5>
        <p>Some representative placeholder content for the third slide.</p> -->
      </div>
    </div> <div class="carousel-item">
      <img src="https://raw.githubusercontent.com/irup-07/parmeshwar/main/WhatsApp%20Image%202021-03-11%20at%2012.33.28%20PM.jpeg" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <!-- <h5>Third slide label</h5>
        <p>Some representative placeholder content for the third slide.</p> -->
      </div>
    </div>


  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions"  data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions"  data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>



<br>
  <div class="album py-5 ">
    <div class="container">

      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-12 g-3">
        <a href="./videos">
        <div class="col">
          
          <div class="card shadow-sm card1" id="card1"  style="height:20rem;border:1.8rem solid #DAA520	">
             <p style="margin-top: -8.5rem;" class="content">Videos</p>
            
          </div>
        </div>
      </a>
      <a href="./live">
        <div class="col">
            <div class="card shadow-sm card3"id="card3"onclick="send(this.id,'"style="height:20rem;border:1.8rem solid #DAA520		">
                <p style="margin-top: -8.5rem;" class="content">Live</p>
              
            </div>
          </div>  
        </a>

          </div> 

      </div>
    </div>
  </div>

<script src="/js/register_subscriber.js" defer></script>
<%-include ("partials/footer.ejs")%>