<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js"></script>
  <link rel="stylesheet" href="/css/index.css">
  <link rel="stylesheet" href="/fontawesome/css/all.css">
</head>
<body>

	<nav class="admin-nav">
		<h1>Parameshwara</h1>
	</nav>

	<div class="user-form-wrapper" >

		<div class="form" tabindex="100">
			<h2>Login</h2>
			<div class="form-div">
				<div class="input-group">
					<span>Username</span>
					<input type="text" required id="login-username"/>
					<i>Error comes here</i>
				</div>
				<div class="input-group">
					<span>Password</span>
					<input type="password" required id="login-password"/>
					<i>Error comes here</i>
				</div>
				<button class="form-btn" id="login-btn">Login Now</button>
			</div>
		</div>

	</div>
	<script defer src="/js/login.js"></script>
	<script src="/js/Element.js"></script>
	<script src="/js/form.js"></script>
</body>
</html>